@import "../variable.scss";
$term: 1;
$term-max: 20;
$termTypes: (
  m: margin,
  p: padding,
);
$termUnit: (px, rem);

@for $d from 1 through length($device-name) {
  @media (min-width: nth($device-size,$d)) and (max-width: nth($device-size,$d+1) + 1px) {
    @for $i from 1 through $term-max {
      @each $name, $style in $termTypes {
        @each $vecName, $vecNow in $vector {
          .#{$name}#{$vecName}#{$i*$term}#{nth($device-name,$d)} {
            #{$style}-#{$vecNow}: #{$i * $term}px !important;
          }

          .#{$name}a#{$vecName}#{nth($device-name,$d)} {
            #{$style}-#{$vecNow}: auto;
          }
        }

        .#{$name}#{$i * $term}#{nth($device-name,$d)} {
          #{$style}: #{$i * $term}px !important;
        }

        .#{$name}a#{nth($device-name,$d)} {
          #{$style}: auto;
        }
      }
    }
  }
}

@for $i from 0 through $term-max {
  @each $name, $style in $termTypes {
    @each $vecName, $vecNow in $vector {
      .#{$name}#{$vecName}#{$i*$term} {
        #{$style}-#{$vecNow}: #{$i * $term}px !important;
      }

      .#{$name}a#{$vecName} {
        #{$style}-#{$vecNow}: auto;
      }
    }

    .#{$name}#{$i * $term} {
      #{$style}: #{$i * $term}px !important;
    }

    .#{$name}a {
      #{$style}: auto;
    }

    @each $unit, $unitIndex in $termUnit {
      // @if ($unit == "px") $unit: "" ;
      .#{$name}#{$i * $term}.#{$name}-#{$unit} {
        #{$style}: #{$i * $term}#{$unit} !important;
      }

      @each $vecName, $vecNow in $vector {
        .#{$name}#{$vecName}#{$i*$term}.#{$name}-#{$unit} {
          #{$style}-#{$vecNow}: #{$i * $term}#{$unit} !important;
        }
      }
    }
  }
}
