@import "../variable.scss";

@mixin device-mobile() {
  @media (min-width: nth($device-size,1)) and (max-width: nth($device-size,2) + 1px) {
    @content;
  }
}

@mixin device-tablet() {
  @media (min-width: nth($device-size,2)) and (max-width: nth($device-size,3) + 1px) {
    @content;
  }
}

@mixin device-desktop() {
  @media (min-width: nth($device-size,3)) and (max-width: nth($device-size,4) + 1px) {
    @content;
  }
}

@mixin device-lte-tablet() {
  @media (min-width: nth($device-size,1)) and (max-width: nth($device-size,3) + 1px) {
    @content;
  }
}

@mixin content-width() {
  position: relative;
  width: $content-max-width;
  max-width: 100%;
  @include device-lte-content() {
    width: 100%;
  }
}
