@mixin default-color-set($color-name: "white") {
  @if $color-name == "white" {
    background: $white;
    color: $black;
  } @else {
    background: $black;
    color: $white;
  }
}
@mixin box-inner($desktop: 10px, $tablet: $desktop, $mobile: $tablet) {
  padding: $desktop;

  @if $tablet != $desktop {
    @include device-tablet() {
      padding: $tablet;
    }
  }
  @if $mobile != $tablet {
    @include device-mobile() {
      padding: $mobile;
    }
  }
}

@mixin box-outer(
  $width: (
    100%,
    100%,
    100%,
  ),
  $term: (
    0.5rem,
    0.5rem,
    0.5rem,
  )
) {
  @if length($width) == 1 {
    $width: append($width, nth($width, 1));
  }
  @if length($width) == 2 {
    $width: append($width, nth($width, 2));
  }

  @if length($term) == 1 {
    $term: append($term, nth($term, 1));
  }
  @if length($term) == 2 {
    $term: append($term, nth($term, 2));
  }

  width: calc(#{nth($width, 1)} - #{nth($term, 1)}* 2);
  margin: nth($term, 1);
  @include device-tablet() {
    width: calc(#{nth($width, 2)} - #{nth($term, 2)} * 2);
    margin: nth($term, 2);
  }
  @include device-mobile() {
    width: calc(#{nth($width, 3)} - #{nth($term, 3)} * 2);
    margin: nth($term, 3);
  }
}

@mixin box-shadow(
  $size: 30px,
  $opacity: 0.015,
  $color: (
    0,
    0,
    0,
  )
) {
  box-shadow: 0px 0px $size rgba(nth($color, 1), nth($color, 2), nth($color, 3), $opacity);
}
@mixin default-container() {
  @include default-color-set();
  @include box-outer(100%, 10px, 6px, 2px);
  @include box-inner();
  border: 1px solid $default-border-color;
  font-size: 1rem;
  @include device-mobile() {
    margin-top: 6px;
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
