.fixed-header {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 94px;
  background: #fff; }
  @media (min-width: 0px) and (max-width: 541px) {
    .fixed-header {
      height: 60px; } }
  .fixed-header .header-content {
    z-index: 11;
    max-width: calc(1920px - 280px);
    padding: 0px 20px;
    width: 100%;
    margin: 0px auto;
    font-size: 23px; }
    @media (min-width: 0px) and (max-width: 1101px) {
      .fixed-header .header-content {
        max-width: calc(1920px - 280px);
        padding: 0px 20px; } }
    @media (min-width: 540px) and (max-width: 1101px) {
      .fixed-header .header-content {
        font-size: 20px; } }
    @media (min-width: 0px) and (max-width: 541px) {
      .fixed-header .header-content {
        font-size: 17px; } }
    @media (min-width: 1100px) and (max-width: 65536px) {
      .fixed-header .header-content .logo {
        width: 350px; } }
    .fixed-header .header-content .logo > img {
      max-width: 100%; }
      @media (min-width: 0px) and (max-width: 541px) {
        .fixed-header .header-content .logo > img {
          width: 80px; } }
    @media (min-width: 1100px) and (max-width: 65536px) {
      .fixed-header .header-content .menu > li {
        width: 200px; } }
    @media (min-width: 0px) and (max-width: 541px) {
      .fixed-header .header-content .menu {
        z-index: -1;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 60px;
        left: 0px;
        padding: 20px 0px;
        width: 100%;
        text-align: center;
        transition: opacity 0.3s, visible 0.3s; }
        .fixed-header .header-content .menu.active {
          visibility: visible;
          opacity: 1;
          background: rgba(250, 250, 250, 0.85);
          backdrop-filter: blur(18px);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          border-top: 1px solid rgba(0, 0, 0, 0.1); } }
  .fixed-header .menu-content {
    position: fixed;
    top: 50px;
    background: rgba(255, 255, 255, 0.8); }

.section {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: calc(1920px - 280px);
  padding: 0px 20px;
  width: 100%;
  margin: 0px auto; }
  @media (min-width: 0px) and (max-width: 1101px) {
    .section {
      max-width: calc(1920px - 280px);
      padding: 0px 20px; } }
  @media (min-width: 0px) and (max-width: 1101px) {
    .section {
      align-items: stretch !important;
      padding-bottom: 10vh; } }
  .section .info-content {
    max-width: 100%;
    position: relative;
    z-index: 3; }
    .section .info-content .title-box {
      font-size: 71px;
      font-weight: 100;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.41; }
      @media (min-width: 540px) and (max-width: 1101px) {
        .section .info-content .title-box {
          font-size: 56px; } }
      @media (min-width: 0px) and (max-width: 541px) {
        .section .info-content .title-box {
          font-size: 42px; } }
    .section .info-content .button-box button {
      max-width: 100%;
      width: 322px;
      height: 65px;
      font-size: 27px;
      letter-spacing: 1.35px; }
      @media (min-width: 540px) and (max-width: 1101px) {
        .section .info-content .button-box button {
          font-size: 25px; } }
      @media (min-width: 0px) and (max-width: 541px) {
        .section .info-content .button-box button {
          font-size: 25px; } }
    .section .info-content .text-box {
      margin-top: 25px;
      font-size: 24px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: 0.36px; }
      @media (min-width: 540px) and (max-width: 1101px) {
        .section .info-content .text-box {
          font-size: 21px; } }
      @media (min-width: 0px) and (max-width: 541px) {
        .section .info-content .text-box {
          font-size: 21px; } }
  .section .image-content {
    position: absolute;
    right: 0px; }
    .section .image-content img {
      max-width: 100%; }
  .section.section-1 {
    padding-top: 100px; }
    .section.section-1 .info-content .logo-box {
      margin-top: 29px;
      margin-bottom: 35px; }
    @media (min-width: 0px) and (max-width: 1101px) {
      .section.section-1 .image-content {
        bottom: 30px; } }
  .section.section-2 .insta-content .insta-box {
    position: relative;
    width: 436px;
    max-width: 100%; }
    @media (min-width: 0px) and (max-width: 541px) {
      .section.section-2 .insta-content .insta-box {
        width: 80%;
        min-width: 300px; } }
    .section.section-2 .insta-content .insta-box .image-box {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 436px; }
      .section.section-2 .insta-content .insta-box .image-box img {
        max-width: initial; }
    .section.section-2 .insta-content .insta-box .button-line {
      padding: 16px 8px; }
      .section.section-2 .insta-content .insta-box .button-line img {
        margin: 0px 10px; }
      .section.section-2 .insta-content .insta-box .button-line .heart {
        width: 25.9px;
        height: 23.1px; }
    .section.section-2 .insta-content .insta-box .text-line {
      padding: 0px 18px;
      font-size: 15px;
      line-height: 1.47;
      color: #666666;
      letter-spacing: -0.75px; }
      .section.section-2 .insta-content .insta-box .text-line .link {
        letter-spacing: 0.75px; }
    .section.section-2 .insta-content .insta-box .insta-icon {
      position: absolute;
      overflow: hidden;
      top: 98px;
      left: -66px;
      width: 107px;
      height: 107px;
      border-radius: 50%; }
      .section.section-2 .insta-content .insta-box .insta-icon img {
        max-width: initial;
        width: initial;
        height: 149px; }
    .section.section-2 .insta-content .insta-box .heart-icon {
      position: absolute;
      top: 352px;
      right: -47px;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      box-shadow: 10px 10px 30px 0 rgba(189, 189, 189, 0.29);
      background-color: #ffffff; }
  .section.section-3 .pay-box {
    width: 472px;
    max-width: 100%;
    height: 110px;
    border-radius: 5px;
    box-shadow: 30px 20px 50px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    flex-wrap: nowrap; }
    @media (min-width: 0px) and (max-width: 541px) {
      .section.section-3 .pay-box {
        width: 100%; } }
    .section.section-3 .pay-box:not(:first-child) {
      margin-top: 30px; }
    .section.section-3 .pay-box .number {
      text-align: center;
      width: 110px;
      font-size: 37px; }
      @media (min-width: 540px) and (max-width: 1101px) {
        .section.section-3 .pay-box .number {
          font-size: 34px; } }
      @media (min-width: 0px) and (max-width: 541px) {
        .section.section-3 .pay-box .number {
          font-size: 30px; } }
      @media (min-width: 0px) and (max-width: 541px) {
        .section.section-3 .pay-box .number {
          width: 80px; } }
    .section.section-3 .pay-box .text {
      font-size: 32px; }
      @media (min-width: 540px) and (max-width: 1101px) {
        .section.section-3 .pay-box .text {
          font-size: 30px; } }
      @media (min-width: 0px) and (max-width: 541px) {
        .section.section-3 .pay-box .text {
          font-size: 28px; } }
  .section.section-4 .info-content {
    padding-top: 10vh; }
  .section.section-4 .box-content {
    padding-bottom: 10vh; }
    .section.section-4 .box-content .box {
      max-width: 350px;
      height: 254px;
      border-radius: 4px;
      background-color: #ffffff;
      transition: 0.3s, width 0s; }
      @media (min-width: 0px) and (max-width: 1101px) {
        .section.section-4 .box-content .box {
          max-width: 100%;
          margin-top: 20px;
          text-align: center; } }
      .section.section-4 .box-content .box .number {
        transition: 0.3s;
        font-size: 42px; }
      .section.section-4 .box-content .box .title {
        font-size: 42px;
        margin-bottom: 22px; }
      .section.section-4 .box-content .box .text {
        font-size: 18px;
        font-weight: 300; }
      .section.section-4 .box-content .box:hover {
        box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.05); }
        .section.section-4 .box-content .box:hover .number {
          color: #36e427; }
  .section.section-5 {
    max-width: calc(1920px - 140px);
    margin: 0px 0px 0px auto; }
    .section.section-5 .title-box {
      font-size: 60px; }
      @media (min-width: 540px) and (max-width: 1101px) {
        .section.section-5 .title-box {
          font-size: 54px; } }
      @media (min-width: 0px) and (max-width: 541px) {
        .section.section-5 .title-box {
          font-size: 40px; } }
    .section.section-5 .image-content {
      right: 0px; }
      @media (min-width: 0px) and (max-width: 541px) {
        .section.section-5 .image-content {
          top: 300px;
          right: auto;
          left: 30px; } }

.main-footer {
  max-width: calc(1920px - 280px);
  padding: 0px 20px;
  width: 100%;
  margin: 0px auto;
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 150px; }
  @media (min-width: 0px) and (max-width: 1101px) {
    .main-footer {
      max-width: calc(1920px - 280px);
      padding: 0px 20px; } }
  .main-footer .contact-line {
    margin-bottom: 15px; }
    .main-footer .contact-line .name {
      font-weight: 500;
      margin-right: 20px; }
    .main-footer .contact-line .text {
      font-weight: 300;
      margin-right: 60px; }
  .main-footer .address {
    padding-top: 25px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5; }
